
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ml-auto">
    <a class="navbar-brand letter" href="#">Gunbi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link letter" href="#">Bienvenido</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link letter" href="/tasks" role="button">
             Tareas
          </a>
        </li>
      </ul>


    </div>

    <a (click)="Logout()" class="navbar-brand letter"> Logout </a>
</nav>



